@import "utility.css";
*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    display: flex;
    justify-content: right;
}

body{
    background-color: #23E3C9;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.radio-banner{
    display: flex;
    justify-content: center;
}

.slider{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    widht: 20%;
    transition: 2s;
}

.slide img{
    width: 700px;
    height: 450px;
}

/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    margin-left: -55px;
}

.manual-btn{
    /* border: 2px solid #40D3DC; */
    border: 2.5px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

/* css for automatic navigation */
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 420px;
    display: flex;
    justify-content: center;
    margin-left: -55px;

}

.navigation-auto div{
    border: 2.5px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn{
    background: #40D3DC;
}
